{% load static %}
<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                {% for slider in products_slider %}
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="{{slider.image.url}}"  style="height:60px" alt="">
                    <div class="banner-caption text-center">
                        <h1>{{slider.title}}</h1>
                        <h3 class="white-color font-weak">Up to 50% Discount</h3>
                        <a href="{% url 'product_detail' slider.id slider.slug %}" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                <!-- /banner -->
                {% endfor %}
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->
